body{
    background: #DCDCDC;
    margin: 0;

}

nav ul{
    background: lightgray;
    height: 50px;
    box-shadow: 0px 0px 20px 2px #000;
}

lo{
    float: left;
    padding: 10px 20px;
}
li{
    float: left;
    width: 25%;
    text-align: center;
    list-style-position: inside;
    color: black;
    padding: 15px 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover, a:focus{
    color: green;
}
.photo{
    margin: 10px 0;
    width: 330px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    transition: transform 0.6s;
}
.photo img{
    flex-basis: 100%;
    width:300px;
}
.photo:hover {
  transform: scale(1.75);
}
