.item {
  padding-bottom:50px;
}
.item img{
    height: 250px;
	width: 300px;
	object-fit:scale-down;
}
.item img:hover{
    transform: scale(1.1);
}
contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}
.body{
    padding-up: 50px;
}
.navbar {margin-bottom: 10;}
.body{ padding-top: 42px !important; }