<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon1.ico') }}">
 <title>Home page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">STRONA GŁÓWNA</a></li>
        <li><a href="about">O MNIE</a></li>
        <li><a href="gallery">GALERIA</a></li>
        <li><a href="contact">KONTAKT</a></li>
    </ul>
<lo>
<h1> Witam na mojej stronie! </h1>
</lo>
</nav>
</body>
</html>